body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(danceroom.png);
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.oneSlide {
  transition: transform 1s ease-in-out;
  transform: translate(30%);
  border:10px solid #05535d;
}

.otherSlide {
  transform: translate(150%);
}

.gif {
  background-size: 50%; 
  background-repeat: no-repeat;
  border: none;
}

.banana {
  background-image: url('dancers/banana_dance.gif');
}

.peanut {
  background-image: url('dancers/peanut_dance.gif');
}

.pepe {
  background-image: url('dancers/pepe_dance.gif');
}

.pet-detective {
  background-image: url('dancers/pet_detective_dance.gif');
}

.shark {
  background-image: url('dancers/shark_dance.gif');
}

